/* ==========================================================================
   Colors

   - Grayscale
   - Blues
   - MISC
   - Standard object
   - Standard case
   - 3rd party
   - Custom

   ========================================================================== */




/* Grayscale
   ========================================================================== */

// Black and white

$black-alpha-07:              rgba(0,0,0,.07);           // modal header action btn's
$black-alpha-16:              rgba(0,0,0,.16);           // primary and secondary header btn's
$black-alpha-24:              rgba(0,0,0,.24);           // primary header btn active

$white:                       white;                     // global use, card bgd, text-color-5, bg-1, etc.
$white-alpha-97:              rgba(255,255,255,.97);     // toast notification bgd




/* Blues
   ========================================================================== */

$porcelain:                   #f5f6f7;             // 210, 1, 97     bg-3 class, border--3 class used on white
$pale-royal-blue:             #f0f1f2;             // 210, 1, 95     App bgd, bg-2 class
$geyser:                      #dadee2;             // 210, 4, 89     border--2 class used only between gray and white, Disabled input bgd, anchor subtitle color (text-color-7), secondary btn and radio/checkbox borders
$casper:                      #9faab5;             // 210, 12, 71    Used for text-color-3 class, indicator dots bgd, input icon, bg-9 class, style guide section h2 and toggle options
$regent-gray:                 #8595a6;             // 210, 20, 65    Action icons
$slate-gray:                  #66788a;             // 210, 26, 54    Secondary top bar bgd (child browser, file preview, etc.), Input placeholder text
$nevada:                      #686c70;             // 210, 7, 44     Used for text-color-2 class, modal action title and btn text color
$blue-bayoux:                 #485c70;             // 210, 36, 44    Used for text-color-4 class, secondary btn text, input disabled text
$gray-royal-blue:             #34495e;             // 210, 45, 37    Anchor bgd, stage left list items, bg-4 class, border--6 class
$dark-gray-royal-blue:        #2a4158;             // 210, 52, 35    Input typed text, org switcher bgd, styleguide h2 and h3, bg-5 class
$rolling-stone:               #525354;             // 210, 2, 33     Body text
$pickled-bluewood:            #253647;             // 210, 48, 28    Org switcher ^ drop bgd, bg-20 class
$pickled-bluewood-alpha-80:   rgba(37,54,71,.8);   // 210, 48, 28    Progress spinner bgd, bg-6-80 class
$cape-cod:                    #3c3d3e;             // 210, 3, 24     Used for text-color-1 class

$foam:                        #f0f8fc;             // 203, 5, 99     New notification background
$curious-blue:                #2a94d6;             // 203, 80, 84    Primary blue, top bar, primary btn, please do not use this for link text
$lochmara:                    #137cbd;             // 203, 90, 74    Primary btn bgd (active)
$deep-cerulean:               #006EB3;             // 203, 100, 70   Text link (508c)




/* MISC
   ========================================================================== */

$highlight:                   #ffec70;             // 52, 56, 100    yellow, add usage
$warning:                     #e6b739;             // 44, 75, 90     lighter orange, Alert icon color
$customer:                    #ff9c00;             // 37, 100, 100   orange, add usage
$error:                       #c06057;             // 5, 55, 75      red, Notifications # badge background
$input-error:                 #b5362d;             // 4, 75, 71      darker red, input placeholder error text (508c)
$input-error-bgd:             #f6e4e4;             // 0, 7, 96       pink, input error bgd
$success:                     #43b66a;             // 140, 63, 71    green, add usage



/* Standard objects
   ========================================================================== */

$account:                  #7F8DE1;
$campaign:                 #F49756;
$campaign-members:         #F49756; // new
$contact:                  #A094ED;
$contract:                 #6EC06E;
$dashboard:                #EF6E64;
$document:                 #09a0a0; // not active
$forecast:                 #7774d5; // not active
$home:                     #44A12C; // not active
$invoice:                  #17a380; // not active
$lead:                     #ed7e58;
$opportunity:              #FCB95B;
$portal:                   #AEC770;
$product:                  #B781D3;
$report:                   #F77373;
$setup:                    #d75143; // not active
$solution:                 #8FC972;
$approval:                 #50CC7A;
$apps:                     #3C97DD;
$avatar:                   #62B7ED;
$calibration:              #47CFD2; // added
$coaching:                 #F67594; // new
$connected-apps-admins:    #9895EE; // new
$drafts:                   #6CA1E9; // new
$email:                    #95AEC5;
$endorsement:              #8B9AE3; // new
$event:                    #EB7092;
$feed:                     #62B7ED;
$feedback:                 #6DA1EA; // new
$file:                     #BAAC93;
$goals:                    #7FC574; // new
$groups:                   #779EF2;
$insights:                 #47CFD2; // new
$link:                     #7A9AE6;
$note:                     #E6D478;
$orders:                   #769ED9;
$people:                   #34BECD;
$photo:                    #D7D1D1;
$poll:                     #699BE1;
$post:                     #65CAE4;
$record:                   #7DC37D;
$related-list:             #59BCAB;
$social:                   #EA74A2;  // new
$task:                     #4BC076;
$thanks:                   #E9696E;
$today:                    #EF7EAD;
$user:                     #34BECD;
$performance:              #F8B156;       // new
$quotes:                   #88C651;       // new
$recent:                   #6CA1E9;       // new
$scan-card:                #F39E58;       // new
$skill-entity:             #8B9AE3;       // new
$topic:                    #56AADF;       // new

$custom-bgd:               #8199AF;
$canvas:                   $custom-bgd;
$custom:                   $custom-bgd;
$default:                  $custom-bgd;
$empty:                    $custom-bgd;

$avatar-loading:           #B8C3CE;
$blank-loading:            $avatar-loading;
$groups-loading:           $avatar-loading;
$thanks-loading:           $avatar-loading;




/* Standard case
   ========================================================================== */

$soft-yellow:        #F2CF5B;
$case:               $soft-yellow;
$log-a-call-chatter: $soft-yellow;  // what
$question-best:      $soft-yellow;  // new
$question-feed:      $soft-yellow;  // new
$team-member:        $soft-yellow;  // new
$transcript:         $soft-yellow;  // new
$answer-best:        $soft-yellow;
$answer-private:     $soft-yellow;
$answer-public:      $soft-yellow;
$article:            $soft-yellow;
$case-change-status: $soft-yellow;
$case-comment:       $soft-yellow;
$case-email:         $soft-yellow;
$case-log-a-call:    $soft-yellow;
$case-transcript:    $soft-yellow;




/* 3rd party
   ========================================================================== */

$files:              #5BB6EE; // chatterbox
$concur:             #4CC3C7; // concur
$dropbox:            #52AEF9; // dropbox
$evernote:           #86C86F; // evernote




/* Custom
   ========================================================================== */

$custom-1:           #ff7b84; // heart
$custom-2:           #cfd05c; // fan
$custom-3:           #ecb46c; // sun
$custom-4:           #e1d951; // hexagon
$custom-5:           #9fdb66; // leaf
$custom-6:           #54c473; // triangle
$custom-7:           #6a89e5; // square
$custom-8:           #50ceb9; // diamond
$custom-9:           #6b9ee2; // lightning
$custom-10:          #6488e3; // moon
$custom-11:          #8784ea; // star
$custom-12:          #dc71d1; // circle
$custom-13:          #df6184; // box
$custom-14:          #3cc2b3; // hands
$custom-15:          #f77e75; // people
$custom-16:          #e9af67; // bank
$custom-17:          #acd360; // sack
$custom-18:          #4dca76; // form
$custom-19:          #3abeb1; // wrench
$custom-20:          #48c7c8; // plane
$custom-21:          #8a7aed; // computer
$custom-22:          #8b85f9; // phone
$custom-23:          #b070e6; // mail
$custom-24:          #e56798; // building
$custom-25:          #e46fbe; // alarm clock
$custom-26:          #7698f0; // flag
$custom-27:          #5ab0d2; // laptop
$custom-28:          #89c059; // cell
$custom-29:          #bdd25f; // pda
$custom-30:          #f59f71; // radar dish
$custom-31:          #eb687f; // car
$custom-32:          #38c393; // factory
$custom-33:          #97cf5d; // desk
$custom-34:          #d58a6a; // insect
$custom-35:          #e9637e; // microphone
$custom-36:          #d472d4; // train
$custom-37:          #8c89f2; // bridge
$custom-38:          #53b6d7; // camera
$custom-39:          #4fbe75; // telescope
$custom-40:          #83c75e; // credit card
$custom-41:          #43b5b5; // cash
$custom-42:          #cfd05b; // treasure chest
$custom-43:          #7f93f9; // jewel
$custom-44:          #c8ca58; // hammer
$custom-45:          #d95879; // ticket
$custom-46:          #67a5e7; // stamp or postage
$custom-47:          #5fcc64; // knight //  6cad59 chess?
$custom-48:          #ef697f; // trophy
$custom-49:          #e25c80; // cd/dvd
$custom-50:          #49bcd3; // big top
$custom-51:          #d8c760; // apple
$custom-52:          #ee8e6f; // balls
$custom-53:          #f36e83; // bell
$custom-54:          #ea70b1; // boat
$custom-55:          #d66ee0; // books
$custom-56:          #718deb; // bottle
$custom-57:          #5a9cdd; // building block
$custom-58:          #34b59d; // caduceus
$custom-59:          #e3d067; // can
$custom-60:          #bf5a88; // umbrella
$custom-61:          #f57376; // castle
$custom-62:          #6b92dc; // chalkboard
$custom-63:          #7ccf60; // chip
$custom-64:          #618fd8; // compass
$custom-65:          #f279ab; // cup
$custom-66:          #d8be5f; // dice
$custom-67:          #f87d76; // gears
$custom-68:          #f26979; // globe
$custom-69:          #ed6387; // guitar
$custom-70:          #e769b4; // handsaw
$custom-71:          #e36ee3; // headset
$custom-72:          #8d9bfb; // helicopter
$custom-73:          #679ef0; // highway sign
$custom-74:          #41c8a0; // hot air balloon
$custom-75:          #cd9f65; // ip phone
$custom-76:          #db6d7a; // keys
$custom-77:          #b55d5b; // locked
$custom-78:          #5a95dd; // map
$custom-79:          #8ed363; // measuring tape
$custom-80:          #659ad5; // motorcycle
$custom-81:          #da627f; // musical note
$custom-82:          #d15b97; // whistle
$custom-83:          #e7806f; // pencil
$custom-84:          #f6707b; // presenter
$custom-85:          #f26891; // real estate sign
$custom-86:          #e260ab; // red cross
$custom-87:          #d876e5; // safe
$custom-88:          #996fe6; // sailboat
$custom-89:          #3e99be; // saxophone
$custom-90:          #22a48a; // scales
$custom-91:          #bf7b66; // shield
$custom-92:          #517e82; // ship
$custom-93:          #904d4c; // shopping cart
$custom-94:          #439cba; // stethoscope
$custom-95:          #8bcf6a; // stopwatch
$custom-96:          #6d9de3; // street sign
$custom-97:          #dd6085; // thermometer
$custom-98:          #e1be5c; // truck
$custom-99:          #f0856e; // crt tv
$custom-100:         #e15d76; // tv widescreen
