@font-face {
  font-family: 's1utility';
  src: url('./s1utility.eot?82629495');
  src: url('./s1utility.eot?82629495#iefix') format('embedded-opentype'),
       url('./s1utility.woff?82629495') format('woff'),
       url('./s1utility.ttf?82629495') format('truetype'),
       url('./s1utility.svg?82629495#s1utility') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 's1utility';
    src: url('./s1utility.svg?82629495#s1utility') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "s1utility";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-utility-edit:before { content: '\e700'; } /* '' */
.icon-utility-settings:before { content: '\e701'; } /* '' */
.icon-utility-warning:before { content: '\e702'; } /* '' */
.icon-utility-move:before { content: '\e703'; } /* '' */
.icon-utility-user:before { content: '\e704'; } /* '' */
.icon-utility-3dots:before { content: '\e801'; } /* '' */
.icon-utility-add:before { content: '\e802'; } /* '' */
.icon-utility-adduser:before { content: '\e803'; } /* '' */
.icon-utility-announcement:before { content: '\e804'; } /* '' */
.icon-utility-attach:before { content: '\e805'; } /* '' */
.icon-utility-back:before { content: '\e806'; } /* '' */
.icon-utility-notification:before { content: '\e807'; } /* '' */
.icon-utility-bookmark:before { content: '\e808'; } /* '' */
.icon-utility-call:before { content: '\e809'; } /* '' */
.icon-utility-chat:before { content: '\e80a'; } /* '' */
.icon-utility-check:before { content: '\e80b'; } /* '' */
.icon-utility-checkin:before { content: '\e80c'; } /* '' */
.icon-utility-chevronleft:before { content: '\e80d'; } /* '' */
.icon-utility-chevronright:before { content: '\e80e'; } /* '' */
.icon-utility-close:before { content: '\e80f'; } /* '' */
.icon-utility-dash:before { content: '\e810'; } /* '' */
.icon-utility-desktop:before { content: '\e811'; } /* '' */
.icon-utility-down:before { content: '\e812'; } /* '' */
.icon-utility-download:before { content: '\e813'; } /* '' */
.icon-utility-email:before { content: '\e814'; } /* '' */
.icon-utility-error:before { content: '\e815'; } /* '' */
.icon-utility-event:before { content: '\e816'; } /* '' */
.icon-utility-favorite:before { content: '\e817'; } /* '' */
.icon-utility-filter:before { content: '\e818'; } /* '' */
.icon-utility-filterlist:before { content: '\e819'; } /* '' */
.icon-utility-frozen:before { content: '\e81a'; } /* '' */
.icon-utility-groups:before { content: '\e81b'; } /* '' */
.icon-utility-help:before { content: '\e81c'; } /* '' */
.icon-utility-image:before { content: '\e81d'; } /* '' */
.icon-utility-info:before { content: '\e81e'; } /* '' */
.icon-utility-left:before { content: '\e81f'; } /* '' */
.icon-utility-like:before { content: '\e820'; } /* '' */
.icon-utility-link:before { content: '\e821'; } /* '' */
.icon-utility-list:before { content: '\e822'; } /* '' */
.icon-utility-location:before { content: '\e823'; } /* '' */
.icon-utility-lock:before { content: '\e824'; } /* '' */
.icon-utility-logout:before { content: '\e825'; } /* '' */
.icon-utility-magicwand:before { content: '\e826'; } /* '' */
.icon-utility-new:before { content: '\e827'; } /* '' */
.icon-utility-news:before { content: '\e828'; } /* '' */
.icon-utility-notebook:before { content: '\e829'; } /* '' */
.icon-utility-open:before { content: '\e82a'; } /* '' */
.icon-utility-people:before { content: '\e82b'; } /* '' */
.icon-utility-phone_landscape:before { content: '\e82c'; } /* '' */
.icon-utility-phone_portrait:before { content: '\e82d'; } /* '' */
.icon-utility-photo:before { content: '\e82e'; } /* '' */
.icon-utility-priority:before { content: '\e82f'; } /* '' */
.icon-utility-push:before { content: '\e830'; } /* '' */
.icon-utility-question:before { content: '\e831'; } /* '' */
.icon-utility-redo:before { content: '\e832'; } /* '' */
.icon-utility-refresh:before { content: '\e833'; } /* '' */
.icon-utility-reply:before { content: '\e834'; } /* '' */
.icon-utility-retweet:before { content: '\e835'; } /* '' */
.icon-utility-right:before { content: '\e836'; } /* '' */
.icon-utility-rotate:before { content: '\e837'; } /* '' */
.icon-utility-rows:before { content: '\e838'; } /* '' */
.icon-utility-search:before { content: '\e839'; } /* '' */
.icon-utility-share:before { content: '\e83a'; } /* '' */
.icon-utility-sms:before { content: '\e83b'; } /* '' */
.icon-utility-socialshare:before { content: '\e83c'; } /* '' */
.icon-utility-sort:before { content: '\e83d'; } /* '' */
.icon-utility-spinner:before { content: '\e83e'; } /* '' */
.icon-utility-success:before { content: '\e83f'; } /* '' */
.icon-utility-tablet_landscape:before { content: '\e840'; } /* '' */
.icon-utility-tablet_portrait:before { content: '\e841'; } /* '' */
.icon-utility-topic:before { content: '\e842'; } /* '' */
.icon-utility-undo:before { content: '\e843'; } /* '' */
.icon-utility-up:before { content: '\e844'; } /* '' */
.icon-utility-upload:before { content: '\e845'; } /* '' */
.icon-utility-builder:before { content: '\e846'; } /* '' */
.icon-utility-richtextbulletedlist:before { content: '\e847'; } /* '' */
.icon-utility-richtextnumberedlist:before { content: '\e848'; } /* '' */
.icon-utility-richtextindent:before { content: '\e849'; } /* '' */
.icon-utility-richtextoutdent:before { content: '\e850'; } /* '' */
.icon-utility-questions_and_answers:before { content: '\e851'; } /* '' */
.icon-utility-cases:before { content: '\e852'; } /* '' */
.icon-utility-knowledge_base:before { content: '\e853'; } /* '' */
.icon-utility-shield:before { content: '\e854'; } /* '' */